//TODO: Make a new animation just for image, so image container should have an image as well asi mage

.cardContainer{
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 2px;
}

.largeSlideShowImageContainer{
  height: 475px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  animation-duration: 10000ms;
  text-wrap: normal;
  font-size: 14px;
}
.image{
  width: 100%;
  height: auto;
  animation-name: startImage;
  animation-duration: 10000ms;
}

.mediumSlideShowImageContainer{
  height: auto;
  width: 60%;
  margin: 0 auto;
  background-color: white;
  animation-duration: 10000ms;
  font-size: 11px;
  animation-name: startImage;
  animation-duration: 10000ms;

}

.smallSlideShowImageContainer{
  height: 200px;
  width: 40%;
  margin: 0 auto;
  text-wrap: normal;
  background-color: white;
  animation-duration: 10000ms;
  font-size: 9px;
}

.cardFooter{
  padding: 5%;
}

.animationContainer{
  height: 300px;
}

@keyframes startImage {
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}

@keyframes endImage {
  0%{
    height: 100%;
  }
  100%{
    height: 0%;
  }
}