.imageContainer{
  display: inline;
  margin: auto;
  margin-left: 10px;
}

.image{
  position: relative;
  transform: translate(-50%, 50%);
  height: 300px;
  width: 300px;
  left: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: gray;
  box-shadow: 2px 2px 20px gray;
  background-color: whitesmoke;
}

.image:hover{
  cursor: pointer;
  animation-name: transition;
  animation-duration: 1000ms;
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}