.container{
  background-image: url('../../../assets/background.jpg');
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  height: 85vh;
  min-height: 500px;
}

.text{
  color: yellow;
}
