

.container{
  padding-top: 150px;
  min-height: 650px;
  height: 100%;
  background-color: whitesmoke;

}

.image{
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border-style: solid;
  border-width: 3px;
  border-color: lightgray;
  margin: 0 auto;
  display: inline;
  transform: translate(0px, 100px);
  animation: imageMove 400ms linear;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  transition-property: transform;
}

.mainImageContainer{
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.about{
  display: block;
  visibility: hidden;
  height: 300px;
  width: 95%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  margin: 20px auto;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-name: aboutDrop;
  animation-fill-mode: forwards;
}

.aboutText{
  padding: 10px;
  font-size: 22px;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-name: textAppear;
}
.imagesButton{
  visibility: hidden;
  display: inline;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  border: none;
  animation-name: showButton;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

.imagesButton:hover{
  cursor:pointer;
}

.images{
  width: 20px;
  height: 20px;
}

.toolTip{
  display: none;
}

button:hover > .toolTip {
  position: absolute;
  transform: translate(25px, -50px);
  display: block;
}

.flagContainer{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flag{
  width: 40px;
  height: 40px;
  margin: 5px;
}

.flag:hover{
  cursor: pointer;
}

.toolTip{
  width: 100px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

@keyframes aboutDrop {
  from{
    height: 0px;
    visibility: visible;
  }
  to{
    height: 300px;
    visibility: visible;
  }
}

@keyframes textAppear {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imageMove {
  0%{
    width: 350px;
    height: 350px;
    transform: translate(0px, 100px);
  }
  100%{
    width: 250px;
    height: 250px;
    transform: translate(0px, 0px);
  }
}

@keyframes showButton {
  from{
    visibility: hidden;
  }
  to{
    visibility: visible;
  }
}
