.imageContainer{
  display: inline;
  margin: auto;
  margin-left: 10px;
}

.image{
  position: relative;
  transform: translate(-50%, 50%);
  height: 300px;
  width: 300px;
  left: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: gray;
  box-shadow: 2px 2px 20px gray;
  background-color: whitesmoke;
}

.imageContainer:hover{
  cursor: pointer;
}

.smallImagecontainer{
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  margin: auto;
  margin-left: 10px;
}

.smallImage{
  height: 85%;
  max-height: 100px;
  width: auto;
  left: 50%;
  border-radius: 15%;
  border-style: solid;
  border-width: 5px;
  border-color: whitesmoke;
  background-color: whitesmoke;
}

.smallImagecontainer:hover{
  cursor: pointer;
  animation-name: smallImage, explode;
  animation-duration: 500ms;
}

@keyframes smallImage {
    from {
      background-color: #EAAFF7
    }
    to {
      background-color: #7E1494
    }
}

@keyframes explode {
    from {
      clip-path: circle(50% at 50% 50%);
    }
    to {
      clip-path: circle(100% at 50% 50%);
    }
}
